extends layout.pug

block content
  .container#results-container
    h1 Results
    include includes/discogsResults.pug
  .container
    h1#annotation_header What Google Sees
    .img-container
      img#file_display(display='none')
    form(role='form' method='POST' action='/requestAnnotation')
    fieldset
      label(for='search') Upload a file:
      br
      input(type='file' id='file_upload' name='file_upload' placeholder='upload here')
    button.file_submit(type="submit") Submit
  .container
    include includes/discogsSearchForm.pug

  script
    include scripts/scripts.js
  script(src='https://unpkg.com/axios/dist/axios.min.js')