.result
    .interactive
        .details
            p Title - Year
        .relevant-actions
            .btn-container
                btn.addToCollection Add To Collection
    .artwork
        img